---
import MainLayout from "../layouts/MainLayout.astro";
import Book from "../components/Book.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---

<MainLayout title="KOMPONENTBIBLIOTEK">
  <main class="container mx-auto p-4">
    <Heading htmlheading="h2" size="medium" styling="blue" transform="uppercase">Komponentbibliotek</Heading>
    <div class="pt-4">
      <Text teksttype="brødtekst">Her kan du finde alle de komponenter, der er brugt i dette projekt.</Text>
    </div>
    <hr class="my-4" />
    <!-- Link komponent instanser -->
    <section>
      <Heading htmlheading="h1" size="ekstralarge" styling="blue" transform="uppercase">h1</Heading>
      <Heading htmlheading="h2" size="large" styling="blue" transform="uppercase">h2</Heading>
      <div class="pb-10">
        <Heading htmlheading="h3" size="medium" styling="grey" transform="uppercase">h3</Heading>
      </div>
      <div class="pb-10">
        <Heading htmlheading="h4" size="small" font="inter" weight="light" transform="uppercase">h4</Heading>
      </div>
      <div class="pb-10">
        <Heading htmlheading="h5" size="xsmall" font="inter" weight="light" transform="uppercase">h5</Heading>
      </div>
    </section>
    <Text teksttype="brødtekst">P</Text>
    <section class="pt-10">
      <Heading htmlheading="h4" size="xsmall" font="inter" transform="uppercase" weight="light">Book</Heading>
      <Book />
    </section>
    <section class="pt-10">
      <Heading htmlheading="h4" size="xsmall" font="inter" transform="uppercase" weight="light">Links</Heading>
      <div class="pt-4">
        <a href="https://www.facebook.com/sofielykke.nielsen/" target="_blank"> <img src="/public/facebook.png" alt="Facebookikon" class="w-4 pb-5 md:w-6" /></a>
        <a href="https://www.instagram.com/sofie.lykke/" target="_blank"><img src="/public/Instagram.png" alt="Instagramikon" class="w-8 md:w-10" /></a>
      </div>
    </section>
  </main>
</MainLayout>
